* {
    border: 1px solid red !important;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
*{
	font-family: 'Helvetica', sans-serif;
}
@media only screen and (max-width: 300px){
	p{background-color:blue;}
	
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;

}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

body {
	text-align: center;
}
.background {
	color: white;
	background-image: url('.\resources\image\the-flatiron-building.png'), url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
	background-color: gray;
}


h1{
	font-size: 70px;
	font-weight: bold;
	
}

ul {
	list-style-type: none;
	vertical-align: center;
	display: inline-block;
	font-size: 18px;
}

a{
	color: white;
}

li {
	padding-bottom: 20px;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3, .2ndheader {
	font-size: 23px;
	font-weight:bold;
}

p{
	font-size: 14px;
}

footer{
	text-align: left;
}

footer {
	color:white;
	background-color: dimgray;
}

span {
	font-size: 11px;
}